body {
    background-color: #f5f5f5;
}

.stamp-correction {
    margin: 0 auto;
    padding: 30px;
}

.stamp-correction__content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.stamp-correction__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 8px solid #333;
}

.stamp-correction__item {
    font-weight: bold;
}

.stamp-correction__status {
    display: flex;
    margin: 30px 0;
    position: relative;
}

.stamp-correction__status a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}

.stamp-correction__status-tab--pending {
    margin-left: 50px;
}

.stamp-correction__status-tab--approved {
    margin-left: 90px;
}

.stamp-correction__status-tab.active {
    font-weight: bold;
}

.stamp-correction__status-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(112, 112, 112);
}

.stamp-correction__list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stamp-correction__list table {
    width: 100%;
    border-collapse: collapse;
}

.stamp-correction__list th {
    background-color: white;
    padding: 12px;
    text-align: center;
    border-bottom: 3px solid #dee2e6;
}

.stamp-correction__item {
    color: rgb(112, 112, 112);
    display: grid;
    grid-template-columns: 150px 120px 120px 120px 120px 100px;
    border-bottom: 3px solid #dee2e6;
    text-align: center;
    padding: 12px;
    justify-content: space-between;
    background-color: white;
}

.stamp-correction__item:first-child {
    border-radius: 10px 10px 0 0;
}

.stamp-correction__item:last-child {
    border-radius: 0 0 10px 10px;
}

.stamp-correction__item-header {
    font-weight: bold;
}

.stamp-correction__item-actions a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* PC (1400-1540px) */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .correction-list__content {
        max-width: 1200px;
    }

    .correction-list__item {
        grid-template-columns: 150px 120px 120px 200px 120px 100px;
    }
}

/* タブレット (768-850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .correction-list__content {
        max-width: 750px;
        padding: 15px;
    }

    .correction-list__item {
        grid-template-columns: 130px 100px 100px 180px 100px 80px;
        gap: 10px;
    }
}
