body {
    background-color: #f5f5f5;
}

.attendance {
    margin: 0 auto;
    padding: 30px;
}

.attendance__content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.attendance__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 8px solid #333;
}

.attendance__date-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.current-date {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.current-date:hover {
    background-color: #f5f5f5;
}

.current-date i {
    margin-right: 5px;
}

.attendance__list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.attendance__list table {
    width: 100%;
    border-collapse: collapse;
}

.attendance__list th {
    background-color: white;
    padding: 12px;
    text-align: center;
    border-bottom: 3px solid #dee2e6;
}

.attendance__item-header,
.attendance__time {
    font-weight: bold;
}

.attendance__item {
    color: rgb(112, 112, 112);
    display: grid;
    grid-template-columns: 150px 120px 120px 120px 120px 100px;
    border-bottom: 3px solid #dee2e6;
    text-align: center;
    padding: 12px;
    justify-content: space-between;
    background-color: white;
}

.attendance__item:first-child {
    border-radius: 10px 10px 0 0;
}

.attendance__item:last-child {
    border-radius: 0 0 10px 10px;
}

.attendance__date-group {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    color: rgb(112, 112, 112);
    font-weight: bold;
}

.attendance__date {
    margin-left: 40px;
}

.attendance__day {
    color: #666;
}

.attendance__time,
.attendance__user-name {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: rgb(112, 112, 112);
    font-weight: bold;
}

.attendance__actions {
    text-align: center;
}

.btn-secondary {
    color: rgb(112, 112, 112);
    border: none;
    text-decoration: none;
}

.btn-primary {
    color: black;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.flatpickr-calendar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}